# Defaults
__pycache__/
build/
dist/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.manifest
*.spec
pip-log.txt
.coverage
.coverage.*
.cache
*.cover
.pytest_cache/
.python-version
.env
.venv
env/
venv/
.mypy_cache/
.dmypy.json
dmypy.json

# Project
inputs/