[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
contextily = "*"
duckdb = "*"
geopandas = "*"
shapely = "*"
requests = "*"
polars = "*"
pyarrow = "*"
rich = "*"

[dev-packages]
black = "==22.3.0"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
types-requests = "*"
